body {
    background-color: orange;
}

.nav a {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.title {
  background-image:url('https://images.unsplash.com/photo-1433785567155-bf5530cab72c?q=80&fm=jpg&s=11ef7f88e38334b55df5cbdfaf615e44');
  margin: 0 auto; 
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.title .container {
  position: relative;
  text-align: center;
}

.title h1 {
  color: #FF8C00;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.title p {
  font-size: 20px;
  color: #FAA500;
}

.sections {
  background-color: #f7f7f7;
  text-align: center;
  font-size: 14px;
}

.section h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.section a {
  color: #00b0ff;
}
