.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.title {
  background-image:url('https://images.unsplash.com/photo-1433185000771-ec45c869c61b?q=80&fm=jpg&s=56fb4252bbe9ef4bcbf72ccd0b9c17d8');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.title .container {
  position: relative;
  top:100px;
}

.title h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.title p {
  font-size: 20px;
  color: #fff;
}

.section {
  background-color: #f7f7f7;
}

.section h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.section a {
  color: #00b0ff;
}
